QLabel {
    font-family: "Abril Fatface";
    font-size: 20px;
    }

/*    Other font family is poppins. */

/** {*/
/*    background-color: "#EEF0FF";*/
/*}*/


QWidget{
    background-color: darkred;
}

#testing {
    background-color: pink;
}

#contents {
    background-color: purple;
    }

/*QWidget#nav-drawer {*/
/*    background-color: darkred;*/
/*}*/
